# Git global ignore file
# for local exclude patterns please edit .git/info/exclude
# Example file see https://github.com/TYPO3-Documentation/TYPO3CMS-Guide-HowToDocument/blob/master/.gitignore

# ignore generated documentation
*GENERATED*
.Build/
.idea/
Build/testing-docker/.env
composer.lock
