<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">


<div class="form-group">
    <div class="form-section">
        <div class="row">
            <div class="form-group col-xs-12 col-md-4">
                <label class="t3js-formengine-label"><f:translate key="form.SecondStepData.groupPrefix" /></label>
                <div class="form-control-clearable">
                    <f:form.textfield property="groupPrefix" value="{siteDto.groupPrefix}" class="form-control t3js-clearable hasDefaultValue t3js-charcounter-initialized"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="form-section">
        <div class="row">
            <div class="form-group col-xs-12 col-md-4">
                <label class="t3js-formengine-label"><f:translate key="form.SecondStepData.domain" /></label>
                <div class="form-control-clearable">
                    <f:form.textfield property="domain" value="{siteDto.domain}" class="form-control t3js-clearable hasDefaultValue t3js-charcounter-initialized"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="form-section">
        <div class="row">
            <div class="form-group col-xs-12">
                <f:translate key="form.SecondStepData.newFolderCreation"/>
            </div>
            <div class="form-group col-xs-12 col-md-4">
                <label class="t3js-formengine-label"><f:translate key="form.SecondStepData.baseFolderName" /></label>
                <div class="form-control-clearable">
                    <f:form.textfield property="baseFolderName" value="{siteDto.baseFolderName}" class="form-control t3js-clearable hasDefaultValue t3js-charcounter-initialized"/>
                </div>
            </div>
            <div class="form-group col-xs-12 col-md-8">
                <label class="t3js-formengine-label"><f:translate key="form.SecondStepData.subFolderNames" /></label>
                <div class="form-control-clearable">
                    <f:form.textfield property="subFolderNames" value="{siteDto.subFolderNames}" class="form-control t3js-clearable hasDefaultValue t3js-charcounter-initialized"/>
                </div>
            </div>
        </div>
    </div>
</div>

</html>