<html xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
			xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

    <f:layout name="Default" />

    <f:section name="content">
        <h1><f:translate key="title_generator" /></h1>
        <f:if condition="{errorMessage}">
            <f:then>
                <f:be.infobox state="2">{errorMessage}</f:be.infobox>
            </f:then>
            <f:else>
                <f:be.infobox state="0"><f:translate key="generate.success" /></f:be.infobox>
                <div>
                    <f:format.nl2br value="{sucessMessage}" />
                </div>
            </f:else>
        </f:if>

    </f:section>
</html>


