<html xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

    <f:layout name="Default" />

    <f:section name="content">
        <f:if condition="{modelPages -> f:count()} == 0">
            <f:then>
                <f:be.infobox title="{f:translate(key:'noModelFounded')}" state="2"><f:translate key="checkModelPid"/></f:be.infobox>
            </f:then>
            <f:else>
                <f:form action="{moduleUrl}" method="POST" name="tx_sitegenerator">
                    <f:form.hidden name="action" value="{action}" />
                    <f:form.hidden name="returnurl" value="{returnurl}" />
                    <f:form.hidden name="siteDtoSaved" value="{siteDtoSaved}" />
                    <f:comment>id is required to retrieve the right Typoscript configuration</f:comment>
                    <f:form.hidden name="id" value="{siteDto.pid}" />
                    <f:form.hidden property="pid" value="{siteDto.pid}" />
                    <h1><f:translate key="title_generator" /></h1>
                    <h4><f:translate key="form.FirstStepData.title" /></h4>
                    <f:render partial="FirstStep/Top" arguments="{_all}" optional="1" />
                    <div class="form-group">
                        <div class="form-section">
                            <div class="row">
                                <f:if condition="{modelPages -> f:count()} == 1">
                                    <f:then>
                                        <f:form.hidden property="modelPid" value="{modelPages.0.uid}" />
                                    </f:then>
                                    <f:else>
                                        <div class="form-group col-xs-12 col-md-4">
                                            <label class="t3js-formengine-label"><f:translate key="form.FirstStepData.selectModel" /> *</label>
                                            <div class="form-control-clearable">
                                                <f:form.select property="modelPid" options="{modelPages}" optionValueField="uid" optionLabelField="title" class="form-control form-control-adapt" />
                                            </div>
                                        </div>
                                    </f:else>
                                </f:if>
                                <div class="form-group col-xs-12 col-md-4">
                                    <label class="t3js-formengine-label"><f:translate key="form.FirstStepData.siteTitle" /> *</label>
                                    <div class="form-control-clearable">
                                        <f:form.textfield property="title" value="{siteDto.title}" required="1"
                                                          class="form-control t3js-clearable hasDefaultValue t3js-charcounter-initialized" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <f:render partial="FirstStep/Bottom" arguments="{_all}" optional="1" />
                    <div class="form-group">
                        <f:form.submit value="{f:translate(key: 'form.nexStep', extensionName: 'site_generator')}" class="btn btn-default" />
                    </div>
                </f:form>
                <div class="spinner module-body t3js-module-body">
                    <div id="t3js-ui-block" class="ui-block">
                        <core:icon identifier="spinner-circle-light" size="large" />
                    </div>
                </div>
            </f:else>
        </f:if>
    </f:section>
</html>
