<html xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

    <f:layout name="Module" />

    <f:section name="Before">
        <f:be.pageRenderer includeJavaScriptModules="{
            0: '@typo3/backend/context-menu.js',
            1: '@oktopuce/site-generator/site-generator-form.js'
        }"/>
    </f:section>

    <f:section name="Content">
        <f:if condition="{modelPages -> f:count()} == 0">
            <f:then>
                <f:be.infobox title="{f:translate(key:'noModelFounded')}" state="2"><f:translate key="checkModelPid"/></f:be.infobox>
            </f:then>
            <f:else>
                <f:form action="{moduleUrl}" method="POST" name="tx_sitegenerator" id="SiteGeneratorController">
                    <f:form.hidden name="action" value="{action}" />
                    <f:form.hidden name="returnurl" value="{returnurl}" />
                    <f:form.hidden name="siteDtoSaved" value="{siteDtoSaved}" />
                    <f:comment>id is required to retrieve the right Typoscript configuration</f:comment>
                    <f:form.hidden name="id" value="{siteDto.pid}" />
                    <f:form.hidden property="pid" value="{siteDto.pid}" />

                    <f:render partial="FirstStepForm" arguments="{_all}"></f:render>

                    <div class="form-group">
                        <f:form.submit value="{f:translate(key: 'form.nexStep', extensionName: 'site_generator')}" class="btn btn-default" />
                    </div>
                </f:form>
                <div class="spinner module-body t3js-module-body">
                    <div id="t3js-ui-block" class="ui-block">
                        <core:icon identifier="spinner-circle-light" size="large" />
                    </div>
                </div>
            </f:else>
        </f:if>
    </f:section>
</html>